.des-sec {

  display: flex;
  justify-content: center;
  align-items: center;
}
.main-des {
  width: 80%;
  z-index: -10;
  padding: 20px;
}
.row1-des {
  display: flex;
  justify-content: space-between;
}

.row1-des-left h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}
.row1-des-left p {
  font-size: 20px;
  color: #646464;
  margin-top: 15px;
}
.row1-des-right {
  display: flex;
}
.img-div {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  color: white;
}
.img-div h3 {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 25px;
}
.cus-border {
  margin-top: 15px;
  height: 3px;
  width: 180px;
  background-color: #fca91b;
}

.row2-des {
  display: flex;
  margin-top: 20px;
}
.row2-des h3{
    bottom: 30px;
  left: 16px;
  font-size: 25px;
}
.row2-des-r {
  display: flex;
  
}
.cols-row2-r {
  display: flex;
  flex-direction: column;
}
.cols-row2-r img {
  cursor: pointer;
  margin-bottom: 20px;
}
